{% extends 'base.html' %} {% block title %}Tippen{% endblock %}
{% block content %}
<h1>Tippen</h1>
{% for game in active_games %}
{% set count = namespace(value=1) %} 
<br/>
<hr>
<h4>Aktuelle Tipps</h4>
   {{game.home_team }} : {{game.away_team }}</b>
<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Heim</th>
          <th scope="col">Auswärts</th>
        </tr>
      </thead>
{% for bet in bets %}
  {% if game.id == bet.game_id %}    
      <tr>
        <th scope="row">{{ count.value }}{% set count.value = count.value + 1 %}</th>
        <td>{{bet.participant}}</td>
        <td>{{bet.home_goals}}</td>
        <td>{{bet.away_goals}}</td>
      </tr>
  {%endif%}
{% endfor %}
</table>
<!--{{player_id}}-->
<h4>Tippabgabe</h4>
{{game.home_team }} : {{game.away_team }}
<form method="POST">
    <div class="row">
        <div class="col">
            <b>Name</b> 
          <input type="text" id="participant" name="participant" class="form-control" placeholder="Name" required>
        </div>
        <div class="col">
            <b>Heimtore</b>
          <input type="number" id="home_goals" name="home_goals" class="form-control" placeholder="Heim" required>
        </div>
        <div class="col">
            <b>Auswärtstore</b>
          <input type="number" id="away_goals" name="away_goals" class="form-control" placeholder="Auswärts" required>
          <input type="text" id="game_id" name="game_id" value='{{game.id}}' hidden/>
        </div>
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>
<br/>

{% endfor %}
{% endblock %}