{% extends 'base-with-footer.html' %} {% block title %}Tippen{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<style>
  .table td, .table th {
    padding: 0.35rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  #bet_button {
      padding: 0.2rem 0.2rem;
  }
</style>

<h1>Tippen <img src="./static/img/betting.png" width="40px" height="auto" alt="bet"> </h1>
{% for game in active_games %}
{% set count = namespace(value=1) %} 
<br/>
<hr>
<h4>Aktuelle Tipps</h4>
   {{game.home_team }} : {{game.away_team }}</b>
   <div class="table-responsive">
<table id="current_bet_table" class="table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Tipp</th>
          <th scope="col"></th>
        </tr>
      </thead>
{% for bet in bets %}
  {% if game.id == bet.game_id %}    
      <tr>
        <th scope="row">{{ count.value }}{% set count.value = count.value + 1 %}</th>
        <td>{{bet.participant}}</td>
        <td>{{bet.home_goals}} : {{bet.away_goals}} </td>
          <td style="width: 35px; padding-left: 0px;;">
         <a class="btn btn-danger" style="color: white; text-decoration: none!important;"
             href="/bet-delete/{{bet.id}}"><i class="bi bi-trash-fill"></a></i>
        </td>
      </tr>
  {%endif%}
{% endfor %}
</table>
</div>

<br/>
<h4>Tippabgabe</h4>
{{game.home_team }} : {{game.away_team }}
<form method="POST">
  <div class="table-responsive">
  <table id="bet_table" class="table">
    <thead>  
    <tr>
      <th>Name</th>
      <th>Heim</th>
      <th>Ausw.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td>  
          <input type="text" id="participant" name="participant" class="form-control" placeholder="Name" required>
        </td>
        <td style="width: 70px;">  
          <input style="width: 70px" type="number" id="home_goals" name="home_goals" class="form-control" placeholder="H" required>
        </td>
        <td style="width: 70px" >
           
          <input style="width: 70px" type="number" id="away_goals" name="away_goals" class="form-control" placeholder="A" required>
          <input type="text" id="game_id" name="game_id" value='{{game.id}}' hidden/>
        </td>
        </tr>
        <tr>
        <td  style="border: none"><button type="submit" id="bet_button" class="btn btn-primary">Tippen</button></td>
        <td  style="border: none" colspan="2"></td>
        </tr>
      </tbody>
    </table>
  </div>    
</form>
<hr>
<br/>

{% endfor %}
{% endblock %}