{% extends 'base.html' %} {% block title %}Games{% endblock %}
{% block content%}

<h1>Spiel hinzufügen</h1>
<form id="add_game" method="POST">
  <div class="row">
    <div class="col">
      <label for="gameday"><b>Spieltag</b></label>
      <input
        style="width: 80px"
        type="number"
        class="form-control"
        id="gameday"
        name="gameday"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="home_team"><b>Heim</b></label>
      <input
        type="text"
        class="form-control"
        id="home_team"
        name="home_team"
        placeholder="Heim Team"
      />
    </div>
    <div class="col">
      <label for="away_team"><b>Auswärts</b></label>
      <input
        type="text"
        class="form-control"
        id="away_team"
        name="away_team"
        placeholder="Auswärts Team"
      />
    </div>
    <input
      type="text"
      class="form-control"
      id="add_game_const"
      name="add_game_const"
      value="1"
      hidden
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
<h3>Aktive Spiele</h3>

<table class="table table-striped">
<thead>
    <tr>
      <th scope="col">Spiel</th>
      <th style="text-align: center;" colspan="2" scrope="col">Ergebnis</th>
      <!--<th scrope="col">A</th>-->
      <th scrope="col"></th>
      <th scrope="col"></th>
    </tr>
  </thead>
{% for game in active_games %} 

    <tbody>
      <tr>
        <td>{{game.home_team}} : {{game.away_team}}</td>
        {% if game.home_goals == None or game.away_goals == None %}
        <form id="results" method="POST">
            <input type="text" class="form-control" id="edit_game_const" name="edit_game_const" value="1" hidden/>
            <td style="width: 60px;"><input  class="form-control" id="home_goals_result" name="home_goals_result" type="number" style="width: 60px;"/></td>
            <td style="width: 60px;"><input  class="form-control" id="away_goals_result" name="away_goals_result" type="number" style="width: 60px;"/></td>
         <input  class="form-control" id="current_game" name="current_game" value="{{game.id}}" hidden>      
        <td style="width: 20px;"><button  style=" 
            
            border: none;
            color: rgb(0, 0, 0);
            padding-top: 11px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            " type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" >
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
            </svg></td>
        </form>
            <td style="width: 20px;"><button  style="
                width: 20px;
                border: none;
                color: rgb(144, 38, 38);
                padding-top: 11px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-weight: bolder;
                font-size: 18px;" type="button">X</td>
      </tr>
    </tbody>


{% else %}
<td style="width: 60px;">{{game.home_goals}}</td>
<td style="width: 60px;">{{game.away_goals}}</td>
<td></td>
<td style="width: 20px;">
    <form method="POST" id="deletion">
        <input type="text" name="delete" id="delete" value="1" hidden>
        <input class="form-control" id="current_game" name="current_game" value="{{game.id}}" hidden>
        <button  style="
        width: 20px;
        border: none;
        color: rgb(144, 38, 38);
    
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-weight: bolder;
        font-size: 18px;" type="submit">X</td>
    </form>
{%endif%}

{% endfor %} 
</table>

{% endblock %}
