{% extends "base-with-footer.html" %} {% block title %}Home{% endblock %}
{% block content %}

<style>
  .twinner td,
  .twinner th {
    padding: 0.35rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  .table-sm tr {
    text-align: left !important;
  }

  #glw_table_btn1 {
    margin-left: 13px;
  }

  #glw_table_btn2 {
    margin-left: 43px;
  }

  .games_table {
    width: 100%;
  }

  .games_table td{
    text-align: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    vertical-align: middle;
  }

  .games_table th{
    border-bottom: 1px solid rgb(194, 188, 188);
    padding: 0.5rem;
  }

</style>

<h1>
  Dashboard
</h1>
<br />

<h4>
  <img src="./static/img/logo.png" style="padding-bottom: 5px; margin-right: 4px" width="30px" height="auto">
  Hallo {{ user_first_name }}!
  <img width="30px" height="auto" style="padding-bottom: 5px;" src="./static/img/fussballspieler.png">
</h4>
<br />

<div style="width: 300px; margin-left: auto; margin-right: auto; display: block;">
  <button id="glw_table_btn1" class="btn btn-dark btn-lg" onclick="showHideElement('glw_table')">
    Tabelle<br /> <img style="width: 75px; height: 80px;" src="./static/img/table3.png" alt="Tabelle">
    <br />anzeigen
  </button>
  <a style="color: white; text-decoration: none;" href="https://bet-works.herokuapp.com/bet">
    <button id="glw_table_btn2" class="btn btn-dark btn-lg">
      Jetzt<br /><img style="width: 75px; height: 80px" src="./static/img/bet.png">
      <br />tippen</a>
  </button>
</div>
<br />
<div id="glw_table" style="max-width: 330px; display: none; margin-left: auto; margin-right: auto;">
  {% for table in glw_table %}
  {{table|safe}}
  {% endfor %}
</div>
<br />


<h5 align="left">Aktuelle Spiele:</h5>

<div class=" table-responsive-sm">
<table class="games_table table-striped">
  {% for game in table_games%}
  <tr>
    <th colspan="3" class="round">{{game[0]}}</th>
  </tr>
  <tr>
    <td>{{game[1]}}</td>
    <td>{{game[2]}}</td>
    <td>{{game[3]}}</td>
  </tr>
  {% endfor %}
</table>
</div>

{% if number_of_winners %}
<br />
<h5>Gewinner deiner Tipps:</h5>
{% for game in games_done %}

{% if loop.index is divisibleby 2 %}
<div style="background-color:#20c997d6; padding: 8px 8px 0px 8px; margin-bottom:0px; border-radius: .25rem!important;">
  {%else%}
  <div
    style="background-color:#ff7400b8; padding: 8px 8px 0px 8px; margin-bottom:0px; border-radius: .25rem!important;">
    {% endif %}
    <b>Gewinner</b><br />{{game[1]}} : {{game[2]}} {{game[3]}} : {{game[4]}}<br />

    <table class="table twinner">
      <tr>
        <th style="border-bottom: 1px solid black; border-top: none !important;">Gewinner</th>
        <th style="border-bottom: 1px solid black; border-top: none !important;">Tipp</th>
      </tr>
      {% for winner in winners %}
      {% if winner[1].id == game[0] %}
      <tr>
        <td style="border: none; max-width: 95px;">{{ winner[0].participant }}</td>
        <td style="border: none;">{{winner[0].home_goals}} : {{winner[0].away_goals}}</td>
      </tr>
      {%endif%}
      {% endfor %}
    </table>
  </div>

  {%endfor%}
  {% endif %}
  {% endblock %}